*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.div1{    
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.8)100%) ,url("https://assets.nflxext.com/ffe/siteui/vlv3/39f3c979-c105-4948-9c51-611eedf3a6fd/71ec72f0-c17a-4100-a2a3-a52e7b8ac733/IN-en-20230612-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    width: 100%;
    height: 660px;
    background-size: cover;
    padding: 10px 8%;
    position: relative;   
}

.logo{
    width: 12%;
    height: 6%;
    margin-left: 50px;
    position: absolute;
    margin-top: 18px;
}
.logoDiv{
    display: inline-block;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    font-size: medium;
}
.globe{
    color: white;
}
.option{
    display: inline-block;
    position: relative;
    margin-left:880px;    
    margin-top: 20px;
}
select{
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    width: 120px;
    cursor: pointer;
    text-align: center;
    padding: 6px 3px;
}
.option::after{
    content: "\25BC";
    color: white;
    position: absolute;
    top: 6px;
    width: 6px;
    height: 6px;
    right:22px;
    pointer-events: none;
}
.option::before{
    content: "\01F310";
    color: red;
    top:5px;
    left: 8px;
    position: absolute;
    pointer-events: none;
}
.sign-in{
    color: white;
    background: rgb(229,9,20);
    position: absolute;
    margin-left: 25px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    padding: 6px 16px ;
    border-radius: 4px;
    border-width: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    filter: brightness(85%);
}
.text1{
    color: white;
    font-weight:700;
    font-size:1.6rem;
    position: absolute;
    margin-top: 200px;
    margin-left: 170px;
}
.text2{
    color: white;
    margin-top: 280px;
    margin-left: 400px;
}
.text3{
    color: white;
    margin-left: 200px;
    font-weight: 400;
    margin-top: 20px;
}
.text4{
    color: white;
    margin-top: 140px;
    margin-left: 150px;
    font-size: 2rem;
    display: inline-block;
    position: absolute;
}
.text5{
    color: white;
    margin-top: 250px;
    margin-left: 150px;
    font-size: 1.5rem;
    display: inline-block;
    position: absolute;
}
.text6{
    color: white;
    display: inline-block;
    position: absolute;
    margin-top: 130px;
    font-size: 1.5rem;
}
.text7{
    color: white;
    display: inline-block;
    position: absolute;
    margin-top: 270px;
    font-size: 1.25rem;
}
.email-box{
    position: absolute;
    margin-top: 30px;
    margin-left: 250px;
    font-size: 20px;
    padding: 18px 120px 20px 20px ;
    border-radius: 6px;
    color: rgba(245, 232, 232, 0.993);
    background-color: rgba(0, 0, 0, 0.507);
    border-color: rgba(46, 43, 43, 0.753);
    border-style: solid;
}
.getstarted{
    color: white;
    background: rgb(229,9,20);
    position: absolute;
    text-align: center;
    margin-left: 640px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    padding: 18px 40px 20px 40px ;
    border-radius: 4px;
    border-width: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.betweendiv{
    background-color: rgb(77, 76, 76);
    width: 100%;
    height: 1vh;
}

.div2{
    background-color: black;
    width: 100%;
    height: 81vh;
}

.tv{
     display: inline-block;
     width: 480px;
     height: 300px;
     background-image: url(pngimg.com\ -\ tv_PNG39232.png);
     background-size: cover;
     overflow: hidden;
     position: absolute;
     margin-left: 750px;
     margin-top:120px;
}

video{
    width: 90%;
    height: 90%;    
}
.rickroll{
    height: 290px;
    overflow: hidden;
    margin-left: 20px;
}
.stranger{
    background-image: url(mobile-0819.jpg);
    display: inline-block;
    width: 480px;
    height: 400px;
    background-size: contain;
    margin-left: 200px;
    margin-top: 60px;    
} 

.download{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    padding: 10px 200px 10px 10px;
    border-radius: 10px;
    margin-top: 270px;
    margin-left: 100px;
    border-color: rgb(77, 76, 76);
    border-style: solid;
    border-width: 2px;
}
.poster{
    width: 60px;
    height: 80px;
}
.text8{
    color: white;
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}
.text9{
    color: #0071eb;
    position: absolute;
    display: inline-block;
    margin-left:20px;
    margin-top: 40px;
}
.text10{
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    position: absolute;
    margin-top: 150px;
    margin-left: 200px;
}
.text11{
    color: white;
    font-size: 1.3rem;
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-top: 230px;
    margin-left: 200px;
}
.television{
    background-image: url(device-pile-in.png);
    width: 500px;
    height: 300px;
    background-size: cover;
    display: inline-block;
    margin-left: 720px;
    margin-top: 50px;
}
.amogus{
    width:50%;
    height: 50%;
    background-size: cover;
    background-image: url(giphy-unscreen.gif);
    margin-left:120px;
    margin-top: 30px;
}
.text12{
    color: white;
    position: absolute;
    display: inline-block;
    margin-top: 120px;
    font-size: 1.5rem;
}
.text13{
    color: white;
    position: absolute;
    display: inline-block;
    margin-top: 270px;
    font-size: 1.25rem;
}
.children{
    width:40%;
    margin-left:120px;
    margin-top:70px;
    
}
.Questions{
    color: grey;
    margin-left: 200px;
    margin-top:70px;
    font-size: 1.2rem;
}
.watermark{
    color: grey;
    margin-left:200px;
    margin-top:100px;
}
.list{
    list-style-type: none;
    color: grey;
    cursor: pointer;
    margin-left:200px;
    margin-top:40px;
    display: inline-block;
}
.list2{
    position: absolute;
    margin-left:600px;
    margin-top: -200px;
}
.list3{
    position: absolute;
    margin-left:1000px;
    margin-top: -200px;
}
li{
    margin-bottom:20px;
    padding-right:100px;
}
a:visited { 
    text-decoration: none; 
    color: gray;
}
@media (max-width:600px){
    *{
        overflow-x: hidden;
    }
    .logo{
        width: 25%;
        height: 5%;
        margin-left: 0px;
        margin-top: 20px;
    }
    .div1{    
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8)100%) ,url("https://assets.nflxext.com/ffe/siteui/vlv3/39f3c979-c105-4948-9c51-611eedf3a6fd/71ec72f0-c17a-4100-a2a3-a52e7b8ac733/IN-en-20230612-popsignuptwoweeks-perspective_alpha_website_large.jpg");
        width: 100%;
        height: 470px;
        background-size: cover;
        padding: 10px 8%;
        position: relative;   
    }
    .option{
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin-top: 16px;
        margin-left:150px;
    }
    .option::before{
        content: "\01F310";
        color: red;
        top:5px;
        left: 10px;
        position: absolute;
        pointer-events: none;
    }
    .sign-in{
        color: white;
        background: rgb(229,9,20);
        position: absolute;
        margin-left: 15px;
        font-size: 15px;
        font-weight: bold;
        margin-top: 17px;
        padding: 6px 1px ;
        border-radius: 4px;
        border-width: 0px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .text1{
        color: white;
        font-weight:700;
        font-size:1.1rem;
        position: absolute;
        margin-top: 70px;
        margin-left: 0px;
        text-align: center;
    }
    .text2{
        color: white;
        margin-top: 180px;
        margin-left: 10px;
        font-size:0.9rem;
        text-align: center;
        
    }
    .text3{
        font-size:0.7rem;
        color: white;
        margin-left: 10px;
        font-weight: 100;
        margin-top: 20px;
        text-align: center;
    }
    .text4{
        color: white;
        margin-top: 50px;
        margin-left: 50px;
        font-size: 1.25rem;
        display: inline-block;
        position: absolute;
        text-align: center;
    }
    .text5{
        color: white;
        margin-top: 120px;
        margin-left: 10px;
        font-size: 1.1rem;
        display: inline-block;
        position: absolute;
        text-align:center;
    }
    .email-box{
        position: absolute;
        margin-top: 20px;
        margin-left: 30px;
        font-size: 15px;
        padding: 10px 70px 10px 10px ;
        border-radius: 6px;
        color: rgba(245, 232, 232, 0.993);
        background-color: rgba(0, 0, 0, 0.507);
        border-color: rgba(46, 43, 43, 0.753);
        border-style: solid;
    }
    .getstarted{
        color: white;
        background: rgb(229,9,20);
        position: absolute;
        text-align: center;
        margin-left: 90px;
        font-size: 15px;
        font-weight: bold;
        margin-top: 70px;
        padding: 10px 10px 10px 10px ;
        border-radius: 4px;
        border-width: 0px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .tv{
        display: inline-block;
        width: 240px;
        height: 150px;
        background-image: url(pngimg.com\ -\ tv_PNG39232.png);
        background-size:contain;
        overflow: hidden;
        position: absolute;
        margin-left: 70px;
        margin-top:270px;
   }
   .rickroll{
    height: 100%;
    overflow: hidden;
    margin-left: 20px;
    }
    .stranger{
        background-image: url(mobile-0819.jpg);
        display: inline-block;
        width: 300px;
        height: 220px;
        background-size: cover;
        margin-left: 30px;
        margin-top: 260px;    
        position: absolute;
    }
    .text6{
        color: white;
        display: inline-block;
        position: absolute;
        margin-top: 40px;
        font-size: 1.15rem;
        text-align: center;
        margin-left:20px;
    }
    .text7{
        color: white;
        display: inline-block;
        position: absolute;
        margin-top: 150px;
        font-size: 1.1rem;
        text-align: center;
    }
    .download{
        display: inline-block;
        background-color: rgb(0, 0, 0);
        padding: 10px 260px 10px 10px;
        border-radius: 10px;
        margin-top: 140px;
        margin-left: 15px;
        border-color: rgb(77, 76, 76);
        border-style: solid;
        border-width: 2px;
        width:100px;
    }
    .poster{
        width: 35px;
        height: 45px;
    }
    .text8{
        color: white;
        display: inline-block;
        position: absolute;
        margin-left: 50px;
        margin-top: -45px;
        
    }
    .text9{
        color: #0071eb;
        font-size: 0.9rem;
        position: absolute;
        display: inline-block;
        margin-left:50px;
        margin-top: -25px;
    }
    .text10{
        color: white;
        font-size: 1.2rem;
        display: inline-block;
        position: absolute;
        margin-top: 50px;
        margin-left: 40px;
    }
    .text11{
        color: white;
        font-size: 1.3rem;
        display: inline-block;
        position: absolute;
        margin-top: 110px;
        margin-left: 0px;
        text-align: center;
    }
    .television{
        background-image: url(device-pile-in.png);
        width: 300px;
        height: 200px;
        background-size: cover;
        display: inline-block;
        margin-left: 40px;
        margin-top: 230px;
    }
    .amogus{
        width:50%;
        height: 50%;
        background-size: cover;
        background-image: url(giphy-unscreen.gif);
        margin-left:80px;
        margin-top: 20px;
    }
    .text12{
        color: white;
        position: absolute;
        text-align: center;
        display: inline-block;
        margin-top: 30px;
        margin-left:50px;
        font-size: 1.17rem;
    }
    .text13{
        color: white;
        position: absolute;
        text-align: center;
        display: inline-block;
        margin-top:140px;
        font-size: 1rem;
    }
    .children{
        position: absolute;
        width:100%;
        margin-left:0px;
        margin-top:200px;
    }


    .Questions{
        color: grey;
        margin-left: 00px;
        margin-top:0px;
        font-size: 1.2rem;
    }
    .watermark{
        color: black;
        margin-left:00px;
        margin-top:100px;
    }
    .list{
        list-style-type: none;
        color: grey;
        cursor: pointer;
        margin-left:00px;
        margin-top:10px;
        display: inline-block;
    }
    .list2{
        position: absolute;
        margin-left:0px;
        margin-top: 0px;
    }
    .list3{
        position: absolute;
        margin-left:0px;
        margin-top:140px;
    }
    li{
        margin-bottom:10px;
        padding-right:100px;
    }
    a:visited { 
        text-decoration: none; 
        color: gray;
    }


}

